## Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

## Environment files
.env
.env.local
.env.dev
.env.stage
.env.prod
.env_local
.env_dev
.env_stage
.env_prod

## Golang files
*.out
*.test
coverage.txt

## Security
*.key
*.crt
*.crt~
*.pem

## Third party
.DS_Store
.vscode/
.idea/

## Keep all 'data' folders but not their contents
etc/data/*/**
!etc/data/*/

## Exclude everything under /etc/images
etc/images/**

## But do keep the /etc/images/ folder
!etc/images/

## Ignore the docs/deps_external files as they're quite large
docs/deps_external.dot
docs/deps_external.png