## Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

## Environment files
.env
.env_local
.env_docker

## Go
*.out
*.test
coverage.txt

## Etc
.DS_Store
.vscode/
.idea/
*.key
*.crt
*.crt~
